* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 8px 15px rgba(0, 0, 0, 0.3),
                inset 0 8px 15px rgba(0, 0, 0, 0.3);
}

.clock::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
}

#hr,
#mn,
#s {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

#hr {
    width: 160px;
    height: 160px;
}

#mn {
    width: 190px;
    height: 190px;
}

#s {
    width: 230px;
    height: 230px;
}

#hr::before {
    content: '';
    width: 8px;
    height: 80px;
    background: #ff105e;
    border-radius: 5px 5px 0 0;
    z-index: 2;
}

#mn::before {
    content: '';
    width: 4px;
    height: 95px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    z-index: 3;
}

#s::before {
    content: '';
    width: 2px;
    height: 150px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    z-index: 4;
}

@media only screen and (max-width: 360px) {
    .clock {
        width: 80vw;
        height: 80vw;
    }
}